@media(min-width: 768px){
    .menu{
        height: 50px;
    }
    .menu a{
        font-size: 16px;
    }
    header{
        margin-top: 15px;
        left: 43%
    }
    nav ul{
        gap: 10px
    }
    main{
        margin-top: 50px;
    }
    .home{
        margin-top: 240px;
        font-size: 50px;
        text-align: center;
    }
    .home span{
        font-size: 40px;
    }
    h2{
        font-size: 50px;
        margin-top: 30px
    }
    button{
        margin-top: 80px;
        padding: 30px;
        font-size: 17px;
    }
    button:hover{
        transform: scale(1.1);
    }
    .about p{
        font-size: 22px;
    }
    .about h3{
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
    }
    .description{
        display: block;
        text-align: center;
    }
    .skills-icon{
        width: 150px;
        height: 150px;
    }
    svg{
        width: 90px;
        height: 90px;
    }
    .card-container{
        margin: 20px auto;
    }
    .card img{
        width: 30rem;
        margin-bottom: 20px;
    }
    .contact{
        padding-bottom: 200px;
    }
    .contact ul{
        display: flex;
        margin-top: 50px;
    }
    .contact-icon{
        width: 90px;
        height: 90px;
    }
    .contact-icon img{
        width: 60px;
        height: 60px;
    }
}